
<div>
@*     <nav class="navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" Light="true" Dark="true" FixedTop="true">

        <div class="container p-4">
            <div class="d-flex gap-2">
            <div>
                <NavLink class="navbar-brand" href="/">
                    <span class="flaticon-pizza-1 mr-1"></span>Pizza<br /><small>Delicious</small>
                </NavLink>
            </div>

            <div class="collapse navbar-collapse flex-lg-row-reverse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">Home</NavLink>
                    </li>
                    <li class="nav-item">
                            <NavLink class="nav-link" href="/Menu">Menu</NavLink>
                    </li>
                    <li class="nav-item">
                            <NavLink class="nav-link" href="/DisplayProducts">DisplayProducts</NavLink>
                    </li>
                    <li class="nav-item">
                            <NavLink class="nav-link" href="/ModalDialog">ModalDialog</NavLink>
                    </li> 
                    <li class="nav-item">
                            <NavLink class="nav-link" href="/ShoppingCart">ShoppingCart</NavLink>
                    </li>
                </ul>
                </div>
            </div>
        </div>
    </nav>
 *@

<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4 px-lg-5 py-3 py-lg-0 fixed-top">
    <a href="" class="navbar-brand p-0">
        <h1 class="text-primary m-0"><i class="fa fa-utensils me-3"></i>Restoran</h1>
        <!-- <img src="img/logo.png" alt="Logo"> -->
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="fa fa-bars"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto py-0 pe-4">
                <li class="nav-item">
                    <NavLink class="nav-link" href="/Menu">Menuxxx</NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/ShoppingCart">ShoppingCart</NavLink>
                </li>
            <a href="index.html" class="nav-item nav-link active">Home</a>
            <a href="about.html" class="nav-item nav-link">About</a>
            <a href="service.html" class="nav-item nav-link">Service</a>
            <a href="menu.html" class="nav-item nav-link">Menu</a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                <div class="dropdown-menu m-0">
                    <a href="booking.html" class="dropdown-item">Booking</a>
                    <a href="team.html" class="dropdown-item">Our Team</a>
                    <a href="testimonial.html" class="dropdown-item">Testimonial</a>
                </div>
            </div>
            <a href="contact.html" class="nav-item nav-link">Contact</a>
        </div>
        <a href="" class="btn btn-primary py-2 px-4">Book A Table</a>
    </div>
</nav>
</div>
@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
